<footer>
  <a href='https://github.com/compsci-simon'>
    <img class="github" src='/github.svg' />
  </a>
  <a href='https://twitter.com/1simon_steven'>
    <img class="twitter" src='/twitter.svg' />
  </a>
</footer>
<style>
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 5px
  }
  
  footer a {
    text-decoration: none;
  }

  footer > a > img {
    width: 40px;
  }

  .github {
    background-image: rgb(49, 39, 72)
  }
</style>